

@import "https://fonts.googleapis.com/css2?family=Lemonada:wght@600&display=swap";
@import "https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap";


:root {
	--font-family: 'Lemonada',cursive;
	--font-family_menu: 'Luckiest Guy', cursive;
}
html {
	&:focus-within {
		scroll-behavior: smooth;
	}
	overflow-x: hidden;
}
body {
	margin: 0px;
	padding: 0px;
	background-color: $color_3;
	background-image: url(../img/inicio/fondo6.png);
	background-size: cover;
	font-family: $font-family_1;
	color: $color_5;
}
main {
	position: relative;
}
#contenido {
	position: relative;
	display: flex;
	flex-direction: row;
	margin-top: 0px;
	section {
		font-size: 20px;
		text-align: center;
		margin-top: 0px;
		p {
			width: 80%;
			margin: auto;
		}
	}
}
#aether {
	position: relative;
	margin-bottom: 0;
	width: 640px;
	height: 700px;
	border-radius: 50px;
}
#inicio-mov {
	display: none;
}
#logo_contenido {
	width: 400px;
	height: 220px;
}
#descarga {
	display: flex;
	justify-content: space-around;
	button {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		margin-top: 50px;
		background-color: $color_7;
		border-radius: 30px;
		padding: 5px;
		border: solid 5px #FFFFFF;
		width: 230px;
		height: 50px;
		img {
			margin-right: 10px;
		}
	}
	a {
		color: $color_5;
		text-decoration: none;
		font-family: $font-family_1;
		font-size: 20px;
		margin: 0;
	}
}
#descarga-mov {
	button {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	#aether {
		display: none;
	}
	#contenido {
		flex-direction: column;
		section {
			font-size: 1.25rem;
			p {
				width: 70%;
			}
		}
	}
	#inicio-mov {
		display: block;
		position: relative;
		margin: 0px;
		width: 100vw;
		height: calc(100vw *48/100);
	}
	#descarga {
		button {
			display: none;
		}
	}
	#descarga-mov {
		button {
			display: inline;
			justify-content: center;
			cursor: pointer;
			margin-top: 30px;
			margin-bottom: 0px;
			margin-bottom: 30px;
			background-color: $color_4;
			border-radius: 30px;
			padding: 0px;
			border: solid 2px $color_4;
			width: 155px;
			height: 55px;
		}
		a {
			color: $color_5;
			text-decoration: none;
			font-family: $font-family_1;
			font-size: 1rem;
			margin: 0;
		}
	}
	#logo_contenido {
		width: 50%;
		height: calc(100vw *25/100);
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	#aether {
		margin-bottom: 0;
		width: 100%;
		height: calc(120vw *50/100);
	}
	#contenido {
		section {
			font-size: 1rem;
			p {
				width: 80%;
			}
		}
	}
	#logo_contenido {
		width: 70%;
		height: calc(100vw *20/100);
	}
	#descarga {
		button {
			width: 135px;
			height: 45px;
			border: solid 3px white;
			margin-top: 30px;
			img {
				width: 20px;
				height: 20px;
			}
		}
		a {
			color: $color_5;
			text-decoration: none;
			font-family: $font-family_1;
			font-size: 0.75rem;
			margin: 0;
		}
	}
}
@media screen and (min-width: 1024px) and (max-width: 1105px) {
	#aether {
		margin-bottom: 0;
		width: 100%;
		height: calc(120vw *50/100);
	}
	#logo_contenido {
		width: 70%;
		height: calc(100vw *20/100);
	}
	#contenido {
		section {
			p {
				font-size: 1.10rem;
			}
		}
	}
	#descarga {
		button {
			width: 140px;
			height: 45px;
			border: solid 3px white;
			margin-top: 40px;
			img {
				width: 20px;
				height: 20px;
			}
		}
		a {
			color: $color_5;
			text-decoration: none;
			font-family: $font-family_1;
			font-size: 0.90rem;
			margin: 0;
		}
	}
}
@media screen and (min-width: 1105px) and (max-width: 1220px) {
	#aether {
		margin-bottom: 0;
		width: 100%;
		height: calc(120vw *50/100);
	}
	#logo_contenido {
		width: 70%;
		height: calc(100vw *20/100);
	}
	#contenido {
		section {
			p {
				font-size: 1.10rem;
			}
		}
	}
	#descarga {
		button {
			width: 160px;
			height: 55px;
			border: solid 3px white;
			margin-top: 40px;
			img {
				width: 25px;
				height: 25px;
			}
		}
		a {
			color: $color_5;
			text-decoration: none;
			font-family: $font-family_1;
			font-size: 1rem;
			margin: 0;
		}
	}
}
@media screen and (min-width: 1525px) {
	#aether {
		margin-bottom: 0;
		width: 100%;
		height: calc(120vw *45/100);
	}
	#logo_contenido {
		width: 70%;
		height: calc(100vw *20/100);
	}
	#contenido {
		section {
			p {
				font-size: 1.75rem;
			}
		}
	}
	#descarga {
		button {
			width: 200px;
			height: 65px;
			border: solid 3px white;
			margin-top: 40px;
			img {
				width: 25px;
				height: 25px;
			}
		}
		a {
			color: $color_5;
			text-decoration: none;
			font-family: $font-family_1;
			font-size: 1rem;
			margin: 0;
		}
	}
}
@media screen and (min-width: 1775px) {
	#descarga {
		button {
			width: 300px;
			height: 90px;
			border-radius: 100px;
			border: solid 5px white;
			margin-top: 100px;
			img {
				width: 40px;
				height: 40px;
			}
		}
		a {
			color: $color_5;
			text-decoration: none;
			font-family: $font-family_1;
			font-size: 1.75rem;
			margin: 0;
		}
	}
}
@media screen and (min-width: 2045px) and (max-width: 2560px) {
	#aether {
		margin-bottom: 0;
		width: 100%;
		height: calc(120vw *45/100);
	}
	#logo_contenido {
		width: 70%;
		height: calc(100vw *20/100);
	}
	#contenido {
		section {
			p {
				font-size: 2.20rem;
			}
		}
	}
	#descarga {
		button {
			width: 300px;
			height: 90px;
			border-radius: 100px;
			border: solid 5px white;
			margin-top: 100px;
			img {
				width: 45px;
				height: 45px;
			}
		}
		a {
			color: $color_5;
			text-decoration: none;
			font-family: $font-family_1;
			font-size: 2rem;
			margin: 0;
		}
	}
}
