/*Globales*/

$color_1: #2068A8;
$color_2: #64BCEC;
$color_3: #F5F5F5;
$color_4: #E34A31;
$color_5: #FFFFFF;
$color_6: black;
$color_7: #3C7CB4;

$font-family_menu: var(--font-family_menu)!important;
$font-family_1: var(--font-family) !important;

/*header*/

$background-color_4: black;

/*Body*/

$background-color_2: #3C7CB4;

/*footer*/

$background-color_7: #64bcece3;