/*Globales*/
/*header*/
/*Body*/
/*footer*/
@import "https://fonts.googleapis.com/css2?family=Lemonada:wght@600&display=swap";
@import "https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap";
@import "https://fonts.googleapis.com/css2?family=Lemonada:wght@600&display=swap";
@import "https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap";
footer {
  background-color: #3C7CB4;
  font-family: var(--font-family) !important;
  color: #F5F5F5;
  position: relative;
  bottom: 0;
  margin: 0px;
}
footer p {
  text-align: center;
  width: 70%;
  font-size: 15px;
  margin: auto;
}
footer ul {
  list-style: none;
  overflow: hidden;
}
footer ul li {
  float: left;
  font-size: 13px;
  margin-right: 30px;
}
footer ul li a {
  text-decoration: none;
  color: #F5F5F5;
}
footer ul li a:hover {
  color: black;
}

#redes {
  background-color: rgba(100, 188, 236, 0.8901960784);
  padding: 2px;
}
#redes img {
  width: 30px;
  height: 25px;
  padding: 0;
}

#politica {
  text-align: center;
}
#politica img {
  width: 230px;
  height: 140px;
}
#politica ul {
  display: flex;
  justify-content: space-between;
}
#politica ul li {
  width: 100%;
  margin-right: 10px;
}

#advertencias {
  display: flex;
  justify-content: center;
}

.advertencia {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #F5F5F5;
}

#politicas-mov {
  display: none;
}

@media screen and (max-width: 768px) {
  footer p {
    font-size: 0.6rem;
    margin-top: 0px;
  }
  #redes ul {
    display: flex;
    align-self: center;
    justify-content: center;
  }
  #redes img {
    width: 20px;
    height: 15px;
    padding: 0;
  }
  #politica ul {
    display: none;
  }
  #politica img {
    width: 115px;
    height: 70px;
  }
  #politicas-mov {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-self: center;
    font-size: 1rem;
    margin-bottom: 50px;
  }
  #advertencias img {
    width: 100px;
    height: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  footer ul li {
    font-size: 1rem;
  }
  footer p {
    font-size: 0.75rem;
  }
  #redes img {
    width: 30px;
    height: 25px;
    padding: 0;
  }
  #politica img {
    width: 185px;
    height: 110px;
  }
  #advertencias img {
    width: 140px;
    height: 100px;
  }
}
@media screen and (max-width: 1000px) {
  footer ul li {
    font-size: 0.75rem;
  }
  footer p {
    font-size: 0.65rem;
  }
  #redes img {
    width: 30px;
    height: 25px;
    padding: 0;
  }
  #politica img {
    width: 115px;
    height: 70px;
  }
  #advertencias img {
    width: 120px;
    height: 85px;
  }
}
@media screen and (min-width: 1525px) {
  footer {
    margin-bottom: 0px;
  }
  footer ul li {
    font-size: 1.75rem;
  }
  footer p {
    font-size: 1.5rem;
  }
  #redes img {
    width: 60px;
    height: 50px;
    padding: 0;
  }
  #politica img {
    width: 295px;
    height: 200px;
  }
  #advertencias img {
    width: 200px;
    height: 135px;
  }
}
:root {
  --font-family: "Lemonada",cursive;
  --font-family_menu: "Luckiest Guy", cursive;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #F5F5F5;
  position: relative;
  top: 0;
  margin: 0px;
  border: 0px;
  padding: 10px;
}
header #logo {
  float: left;
}
header #menu {
  float: right;
  margin-right: 10px;
  margin-top: 20px;
}
header nav ul {
  list-style: none;
  overflow: hidden;
  margin: 0;
}
header nav ul li {
  float: left;
  font-family: var(--font-family_menu) !important;
  margin-right: 50px;
  font-size: 30px;
}
header nav ul li a {
  display: block;
  padding: 10px;
  text-align: center;
  color: #2068A8;
  font-weight: normal;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #64BCEC;
}
header nav ul li button {
  background-color: #E34A31;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  font-size: 27px;
  border-radius: 50px;
  border: solid #E34A31;
}
header nav ul li button:hover {
  background-color: black;
  border: solid black;
}
header nav ul li button a {
  font-family: var(--font-family_menu) !important;
  color: #F5F5F5;
}
header nav ul li button a:hover {
  color: #E34A31;
}

#pagina {
  display: none;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.pagina {
  width: 80%;
  margin: auto;
}

.barra-menu {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.lista-menu li {
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
}
.lista-menu li:last-child {
  border-right: none;
}
.lista-menu a {
  display: block;
  margin-top: 30px;
  width: 100%;
  height: 3em;
  text-decoration: none;
  color: #2068A8;
}
.lista-menu a:hover {
  color: #64BCEC;
}

.btn-menu {
  display: block;
  margin-top: 30px;
  width: 100%;
  height: 3em;
  display: none;
  text-decoration: none;
  color: #2068A8;
}

#btn-drop {
  padding: 1rem;
  align-items: center;
}
#btn-drop img {
  margin-right: 20px;
}

.aln-izquierda {
  text-align: left;
}

.aln-centro {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.aln-derecha {
  text-align: right;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    flex: 50%;
  }
  header nav ul li {
    font-size: 1.15rem;
    margin-right: 40px;
  }
  header nav ul li button {
    font-size: 1.15rem;
    margin-bottom: 5px;
  }
  header nav ul li button a {
    font-size: 0.8rem;
  }
  header #logo {
    height: 30px;
  }
  #fantasma {
    width: 30px;
    height: 30px;
  }
  #deseo {
    width: 30px;
    height: 30px;
  }
  #logo-menu {
    width: 110px;
    height: 35px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1105px) {
  header nav ul li {
    font-size: 1.5rem;
  }
  header nav ul li button {
    font-size: 1.5rem;
  }
  header nav ul li button a {
    font-size: 1rem;
    padding-bottom: 0px;
  }
  header #logo {
    height: 40px;
  }
  #fantasma {
    width: 35px;
    height: 35px;
  }
  #deseo {
    width: 30px;
    height: 30px;
  }
  #logo-menu {
    width: 100px;
    height: 35px;
  }
}
@media screen and (max-width: 768px) {
  #menu {
    display: none;
  }
  header {
    margin: 0;
    padding: 0;
  }
  #logo {
    display: none;
  }
  #pagina {
    display: inline;
    width: 100%;
  }
  .btn-menu {
    display: block;
    margin: 0;
    padding: 0;
  }
  #btn-drop {
    text-align: right;
  }
  .cabecera-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  #submenu {
    display: none;
  }
  .lista-menu li {
    display: block;
    float: none;
    width: 100%;
  }
}
@media screen and (min-width: 1920px) and (max-width: 2560px) {
  header {
    padding: 15px;
  }
  header nav ul li {
    font-size: 3.5rem;
  }
  header nav ul li button {
    font-size: 3.5rem;
  }
  header nav ul li button a {
    font-size: 3.25rem;
    padding-bottom: 0px;
  }
  header #logo {
    height: 100%;
  }
  #fantasma {
    width: 75px;
    height: 75px;
  }
  #deseo {
    width: 100px;
    height: 100px;
  }
  #logo-menu {
    width: 250px;
    height: 105px;
  }
}
body {
  background-image: url("../img/inicio/fondo8.png");
  background-attachment: fixed;
  background-color: transparent;
}

.noticia {
  margin: auto;
  margin-top: 100px;
  width: 80%;
  display: grid;
  box-shadow: 0px 0px 20px black;
  background-color: rgba(245, 245, 245, 0.7411764706);
  border-radius: 30px;
  grid-template-columns: 50% 50%;
  grid-template-areas: "titulo titulo" "imagen imagen" "contenido contenido";
}

.titulo {
  background-color: #2068A8;
  color: #FFFFFF;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin: 0;
  grid-area: titulo;
  text-align: center;
}

.contenido {
  color: black;
  margin: 15px;
  padding: 10px;
  grid-area: contenido;
  margin-bottom: 100px;
}
.contenido h3 {
  color: #2068A8;
}

.imagen {
  margin: auto;
  margin-top: 30px;
  grid-area: imagen;
}

#ultima {
  margin-bottom: 150px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body {
    font-size: 0.65rem;
  }
  .contenido {
    font-size: 0.65rem;
  }
  .guia {
    width: 100%;
  }
  picture {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 15px;
  }
  .imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  body {
    font-size: 0.8rem;
  }
  .contenido {
    font-size: 0.8rem;
  }
}
.cont-formulario {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 20px;
  margin-top: 150px;
  margin-bottom: 150px;
}
.cont-formulario img {
  position: absolute;
  width: 120px;
  height: 120px;
  top: -70px;
  margin: auto;
}

.formulario {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 30%;
  padding: 20px;
  color: #2068A8;
  background-color: #F5F5F5;
  border-radius: 10px;
  box-shadow: 0px 0px 8px black;
}
.formulario input {
  border: 1px solid black;
  outline: none;
  transition: all 200ms;
  border-radius: 3px;
  padding: 0.4rem;
  margin-bottom: 10px;
}
.formulario input:focus {
  transition: all 300ms;
  border: 1px solid #2068A8;
  box-shadow: 0px 0px 8px #2068A8;
}
.formulario input[type=submit] {
  width: 40%;
  margin: auto;
  border: solid 1px #E34A31;
  border-radius: 20px;
  background-color: #E34A31;
  color: #F5F5F5;
  font-size: 10px;
  font-family: var(--font-family) !important;
}
.formulario input[type=submit]:hover {
  width: 40%;
  margin: auto;
  border: solid 1px black;
  border-radius: 20px;
  background-color: black;
  color: #E34A31;
  font-size: 15px;
  font-family: var(--font-family) !important;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body {
    font-size: 0.65rem;
  }
  .formulario {
    width: 60%;
  }
  .formulario input::-moz-placeholder {
    font-size: 0.65rem;
  }
  .formulario input::placeholder {
    font-size: 0.65rem;
  }
  .formulario input[type=submit] {
    font-size: 0.55rem;
    width: 80px;
    height: 30px;
  }
  .formulario input[type=submit]:hover {
    font-size: 0.55rem;
    width: 80px;
    height: 30px;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  body {
    font-size: 0.75rem;
  }
  .formulario {
    width: 55%;
  }
  .formulario input[type=submit] {
    font-size: 0.6rem;
    width: 90px;
    height: 40px;
  }
  .formulario input[type=submit]:hover {
    font-size: 0.6rem;
    width: 90px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 1rem;
  }
  .formulario {
    width: 40%;
  }
  .formulario input[type=submit] {
    font-size: 0.65rem;
    width: 120px;
    height: 40px;
  }
  .formulario input[type=submit]:hover {
    font-size: 0.65rem;
    width: 120px;
    height: 40px;
  }
}
@media screen and (min-width: 2045px) and (max-width: 2560px) {
  body {
    font-size: 2rem;
  }
  .formulario {
    width: 35%;
  }
  .formulario input {
    padding: 15px;
  }
  .formulario input::-moz-placeholder {
    font-size: 1.5rem;
  }
  .formulario input::placeholder {
    font-size: 1.5rem;
  }
  .formulario input[type=submit] {
    font-size: 1.5rem;
    width: 200px;
    height: 80px;
    border-radius: 50px;
  }
  .formulario input[type=submit]:hover {
    font-size: 1.5rem;
    width: 200px;
    height: 80px;
    border-radius: 50px;
  }
  .cont-formulario {
    margin-top: 250px;
  }
  .cont-formulario img {
    top: -150px;
    width: 250px;
    height: 250px;
  }
}
:root {
  --font-family: "Lemonada",cursive;
  --font-family_menu: "Luckiest Guy", cursive;
}

html {
  overflow-x: hidden;
}
html:focus-within {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #F5F5F5;
  background-image: url(../img/inicio/fondo6.png);
  background-size: cover;
  font-family: var(--font-family) !important;
  color: #FFFFFF;
}

main {
  position: relative;
}

#contenido {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 0px;
}
#contenido section {
  font-size: 20px;
  text-align: center;
  margin-top: 0px;
}
#contenido section p {
  width: 80%;
  margin: auto;
}

#aether {
  position: relative;
  margin-bottom: 0;
  width: 640px;
  height: 700px;
  border-radius: 50px;
}

#inicio-mov {
  display: none;
}

#logo_contenido {
  width: 400px;
  height: 220px;
}

#descarga {
  display: flex;
  justify-content: space-around;
}
#descarga button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 50px;
  background-color: #3C7CB4;
  border-radius: 30px;
  padding: 5px;
  border: solid 5px #FFFFFF;
  width: 230px;
  height: 50px;
}
#descarga button img {
  margin-right: 10px;
}
#descarga a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: var(--font-family) !important;
  font-size: 20px;
  margin: 0;
}

#descarga-mov button {
  display: none;
}

@media screen and (max-width: 768px) {
  #aether {
    display: none;
  }
  #contenido {
    flex-direction: column;
  }
  #contenido section {
    font-size: 1.25rem;
  }
  #contenido section p {
    width: 70%;
  }
  #inicio-mov {
    display: block;
    position: relative;
    margin: 0px;
    width: 100vw;
    height: 48vw;
  }
  #descarga button {
    display: none;
  }
  #descarga-mov button {
    display: inline;
    justify-content: center;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-bottom: 30px;
    background-color: #E34A31;
    border-radius: 30px;
    padding: 0px;
    border: solid 2px #E34A31;
    width: 155px;
    height: 55px;
  }
  #descarga-mov a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: var(--font-family) !important;
    font-size: 1rem;
    margin: 0;
  }
  #logo_contenido {
    width: 50%;
    height: 25vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 995px) {
  #aether {
    margin-bottom: 0;
    width: 100%;
    height: 66vw;
  }
  #contenido section {
    font-size: 0.9rem;
  }
  #contenido section p {
    width: 85%;
  }
  #logo_contenido {
    width: 55%;
    height: 25vw;
  }
  #descarga button {
    width: 135px;
    height: 45px;
    border: solid 3px white;
    margin-top: 30px;
  }
  #descarga button img {
    width: 20px;
    height: 20px;
  }
  #descarga a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: var(--font-family) !important;
    font-size: 0.75rem;
    margin: 0;
  }
}
@media screen and (min-width: 995px) and (max-width: 1024px) {
  #aether {
    margin-bottom: 0;
    width: 100%;
    height: 60vw;
  }
  #contenido section {
    font-size: 0.9rem;
  }
  #contenido section p {
    width: 85%;
  }
  #logo_contenido {
    width: 60%;
    height: 25vw;
  }
  #descarga button {
    width: 135px;
    height: 45px;
    border: solid 3px white;
    margin-top: 30px;
  }
  #descarga button img {
    width: 20px;
    height: 20px;
  }
  #descarga a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: var(--font-family) !important;
    font-size: 0.75rem;
    margin: 0;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1105px) {
  #aether {
    margin-bottom: 0;
    width: 100%;
    height: 60vw;
  }
  #logo_contenido {
    width: 70%;
    height: 20vw;
  }
  #contenido section p {
    font-size: 1.1rem;
  }
  #descarga button {
    width: 140px;
    height: 45px;
    border: solid 3px white;
    margin-top: 40px;
  }
  #descarga button img {
    width: 20px;
    height: 20px;
  }
  #descarga a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: var(--font-family) !important;
    font-size: 0.9rem;
    margin: 0;
  }
}
@media screen and (min-width: 1105px) and (max-width: 1220px) {
  #aether {
    margin-bottom: 0;
    width: 100%;
    height: 60vw;
  }
  #logo_contenido {
    width: 70%;
    height: 20vw;
  }
  #contenido section p {
    font-size: 1.1rem;
  }
  #descarga button {
    width: 160px;
    height: 55px;
    border: solid 3px white;
    margin-top: 40px;
  }
  #descarga button img {
    width: 25px;
    height: 25px;
  }
  #descarga a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: var(--font-family) !important;
    font-size: 1rem;
    margin: 0;
  }
}
@media screen and (min-width: 1525px) {
  #aether {
    margin-bottom: 0;
    width: 100%;
    height: 54vw;
  }
  #logo_contenido {
    width: 70%;
    height: 20vw;
  }
  #contenido section p {
    font-size: 1.75rem;
  }
  #descarga button {
    width: 200px;
    height: 65px;
    border: solid 3px white;
    margin-top: 40px;
  }
  #descarga button img {
    width: 25px;
    height: 25px;
  }
  #descarga a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: var(--font-family) !important;
    font-size: 1rem;
    margin: 0;
  }
}
@media screen and (min-width: 1775px) {
  #descarga button {
    width: 300px;
    height: 90px;
    border-radius: 100px;
    border: solid 5px white;
    margin-top: 100px;
  }
  #descarga button img {
    width: 40px;
    height: 40px;
  }
  #descarga a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: var(--font-family) !important;
    font-size: 1.75rem;
    margin: 0;
  }
}
@media screen and (min-width: 2045px) and (max-width: 2560px) {
  #aether {
    margin-bottom: 0;
    width: 100%;
    height: 54vw;
  }
  #logo_contenido {
    width: 70%;
    height: 20vw;
  }
  #contenido section p {
    font-size: 2.2rem;
  }
  #descarga button {
    width: 300px;
    height: 90px;
    border-radius: 100px;
    border: solid 5px white;
    margin-top: 100px;
  }
  #descarga button img {
    width: 45px;
    height: 45px;
  }
  #descarga a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: var(--font-family) !important;
    font-size: 2rem;
    margin: 0;
  }
}
body {
  background-image: url("../img/inicio/fondo8.png");
  background-attachment: fixed;
  background-color: transparent;
}
body h1 {
  text-shadow: 0 0 10px black;
}
body h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
  text-shadow: 0 0 10px black;
}

button {
  background-color: #FFFFFF;
  color: #2068A8;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}
a:hover {
  color: black;
}

footer ul {
  padding: 10px;
}
footer ul li {
  margin-top: 10px;
}/*# sourceMappingURL=main.css.map */