body{
    background-image: url("../img/inicio/fondo8.png");
    background-attachment: fixed;
    background-color: transparent;
}

button{
    background-color: white;
    color: #2068A8;
}


footer ul{
    padding: 10px;
}

footer ul li{
    margin-top: 10px;
}